# Assignment - 1

Q1. Create one variable containing following type of data: <br>
(i) string<br>
(ii) list<br>
(iii) float<br>
(iv) tuple<br>

In [1]:
a = 'hello'
print(type(a))

<class 'str'>

In [2]:
b = [1,2,3,4]
print(type(b))

<class 'list'>

In [3]:
c = 4.565
print(type(c))

<class 'float'>

In [4]:
d = (1,3,4,5)
print(type(d))

<class 'tuple'>

Q2. Given are some following variables containing data:<br>
(i) var1 = ‘ ‘<br>
(ii) var2 = ‘[ DS , ML , Python]’<br>
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]<br>
(iv) var4 = 1.<br>

In [5]:
var1 =''
print(type(var1))

<class 'str'>

In [6]:
var2 = '[ DS , ML , Python]'
print(type(var2))

<class 'str'>

In [7]:
var3 = [ 'DS' , 'ML' , 'Python']
print(type(var3))

<class 'list'>

In [8]:
var4 = 1
print(type(var4))

<class 'int'>

Q3. Explain the use of the following operators using an example:<br>
(i) /<br>
(ii) %<br>
(iii) //<br>
(iv) **<br>

In [9]:
# / is division operator
5/2

2.5

In [10]:
# % is remainder operator
5%2

1

In [11]:
# // is floor division operator
5//2

2

In [12]:
# ** is power operator
5**2

25

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [13]:
l = [1,2,'a',3.4, 8+9j, [2,3,3],(4,21),22,44, 'op']
print(len(l))

10

In [14]:
for k in l:
    print(k)

1
2
a
3.4
(8+9j)
[2, 3, 3]
(4, 21)
22
44
op

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [15]:
a = 50
b =5
i=0
while a%b==0:
    i+=1
    a = a/b
print(i)

2

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [16]:
l2 = list(range(25))
for i in l2:
    if i%3==0:
        print(f'{i} is divisible by 3')
    else:
        print(f'{i} is not divisible by 3')

0 is divisible by 3
1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In Mutable Datatypes, The elements can be modified without changing the entire variable e.g. list while such cannot be done with immutable data types e.g. string

In [17]:
a = [12,35,6,7]
a[1]=23
print(a)

[12, 23, 6, 7]

In [18]:
b = 'shthe'
b[1]  = 'd'

TypeError: 'str' object does not support item assignment