# SQL Assignment

**Q1. What is a database? Differentiate between SQL and NoSQL databases.**

Database is an organised collection of data stored and accessed throught the use of database management system. <br>
SQL databases are primarily called as relational databases. They are are manipulated using structured query language. They are vertically scalable. Eg. MySQL, PostgreSQL, Oracle
NoSQL is also called as non relational databases. They have a dynamic schema for non structured data and are horizontally scalable. Eg. MongoDB, Cassandara

**Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.**

DDL stands for Data Definition Language. It is used to create and modify the strucure of the database objects in database like views, schema, tables,indexes etc.<br>
1. CREATE: This is used to build a new table.e.g <br>
    CREATE DATABASE testdb
2. DROP: This command is used to delete objects such as table, index or view.<br>
    DROP TABLE testdb
3. ALTER: It is used to modify an existing database. This command can add up additional columns, drop existing columns, and even exchange the data type of columns.<br>
    e.g. ALTER TABLE Customers<br>
         ADD Email varchar(255)
4. TRUNCATE: It is used to quickly remove all records from a table.<br>
    e.g. TRUNCATE TABLE Employee

**Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.**

DML stands for Data Manipulation Language. It is used to manipulate data within database. It allows to add, delete and alter data in a database. It is sublanguage of a larger data in a database language like SQL, with the DML containing some of the language's operator.
1. INSERT: It is used to insert data into a new row in a table.<br>
    e.g INSERT INTO ITEMS(NAME, QUANTITIY, PRICE)<BR>
        VALUES('Chocolates', 45, 450)
2. UPDATE: It is used to update the data present in an existing table of a database. It can be used to update single or multiple columns based on our specific needs. <br>
    e.g. UPDATE ITEMS SET PRICE = 4500 WHERE NAME = 'Chocolates'
3. DELETE: It is used to delete various records from a given table when the condition set in WHERE clause is satisfied. <br>
    e.g. DELETE FROM ITEMS WHERE NAME = 'Chocolates'

**Q4. What is DQL? Explain SELECT with an example.**

DQL statements are used for performing queries on the data and retrieve objects. SELECT command is used to query or retrieve data from a table in a database. Subset of records from one or more tables can be retrieved using this. e.g. <br>
SELECT phone FROM DIRECTORY

**Q5. Explain Primary Key and Foreign Key.**

Primary Key is used to ensure data in specific column is unique. While, foreign key is a column or group of column in a relational database table that provides a link between two tables.

**Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.**

1. cursor() method: It as a construct which allows to iterate/traverse the records of a table. In MySQL you can use the cursor with in a stored program such as features, functions etc.
2. execute() method: This method exectues the given database operation.

In [ ]:
import mysql.connector
mydb = mysql.connector.connect(
    host = "localhost",
    user = "abc",
    password = "password"
)
mycursor = mydb.cursor()

**Q7. Give the order of execution of SQL clauses in an SQL query.**

SQL Query execution order is as follows:<br>
1. FROM
2. WHERE
3. GROUP BY
4. HAVING
5. SELECT 
6. ORDER BY
7. LIMIT